<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<body>
    <header class="header" th:fragment="header">
        <div class="header__container">
            <div class="header__logo">
                <img src="https://www.snh.be/sites/spes_nostra_heule/modules/features/spes_nostra_heule_custom/images/logo.png" 
                     alt="SPES Nostra" 
                     class="header__logo-img">
            </div>
            <h1 class="header__title">Inschrijven</h1>
        </div>
    </header>
</body>
</html>
